.hidden {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_box {
    text-align: center;
    padding: 2rem;
    color: #0cb828;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

#game_box #number {
    color: #fff;
    font-size: 4rem;
}

#game_box #player_guess {
    text-align: center;
    font-size: 1.5rem;
    width: 75px;
    border: 0px;
    border-bottom: 2px solid #bbb;
    padding: .5rem;
    color: #ccc;
    background: transparent;
}

#game_box #result_message {
    margin-top: 1rem;
}