body {
  background-color: #000;
}

.push-button {
  width: 80px;
  text-align: center;
  cursor: pointer;
  padding: .5rem;
  background-color: #f25022;
  box-shadow: 0 0 0 0 #f25022 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
  font-size: 1rem;
}

.numpad {
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    gap: .25rem;
  }
  
  .numpad-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 31.3333%;
    color: white;
    font-size: 2rem;
  }
  
  .numpad-button.push-button {
    transition: 0.5s;
    box-shadow: none;
  }
  
  .numpad-button.push-button:active,
  .numpad-button.push-button.activated {
    transform: translateY(8px);
  }