body {
  background-color: #000;
}

.numpad {
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    gap: .25rem;
  }
  
  .numpad-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 31.3333%;
    color: white;
    font-size: 2rem;
  }
  
  .numpad-button.push-button {
    transition: 0.5s;
    box-shadow: none;
  }
  
  .numpad-button.push-button:active,
  .numpad-button.push-button.activated {
    transform: translateY(8px);
  }